<h3>Tags</h3>
<div class="row sidebar-module sidebar-module-inset">
    <button type="button" class="btn btn-sm asq-tag">Django</button>
    <button type="button" class="btn btn-sm asq-tag">Python</button>
    <button type="button" class="btn btn-sm asq-tag">Google</button>
    <button type="button" class="btn btn-sm asq-tag">Backend</button>
    <button type="button" class="btn btn-sm asq-tag">nginx</button>
    <button type="button" class="btn btn-sm asq-tag">gunicorn</button>
    <button type="button" class="btn btn-sm asq-tag">Segmentation</button>
    <button type="button" class="btn btn-sm asq-tag">fault</button>
</div>
<h3>Popular persons</h3>
<div class="sidebar-module sidebar-module-inset">
    <div class="asq-sidebar-el-margin">
        <img src="http://lorempixel.com/60/60" class="popular-person-avatar img-circle">
        <a href="#"> Vasya Pupkin </a>
    </div>
    <div class="asq-sidebar-el-margin">
        <img src="http://lorempixel.com/60/60" class="popular-person-avatar img-circle">
        <a href="#"> Andrew Kief </a>
    </div>
    <div class="asq-sidebar-el-margin">
        <img src="http://lorempixel.com/60/60" class="popular-person-avatar img-circle">
        <a href="#"> Sousage Wolf </a>
    </div>
</div>